/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
} */

/* /////////Heading/////////////// */
.heading1 {
  @apply text-4xl font-medium;
}
.heading2 {
  @apply text-2xl font-normal;
}
/* //////////Button/////////////// */
.btn {
  @apply px-4 py-1 rounded-lg bg-yellow  text-primaryDark;
}
.btn-small {
  @apply px-4 py-1 text-lg rounded-lg bg-yellow text-white;
}
.btn-large {
  @apply px-8 py-2 text-xl rounded-lg bg-yellow text-white;
}

.btn-outline {
  @apply px-4 py-1 rounded-lg border-black border-2 text-primaryDark;
}

.btn-outline-large {
  @apply px-8 py-2 text-xl rounded-lg border-black border-2 text-primaryDark;
}

.btn-outline-hover {
  @apply hover:bg-brightYellow hover:border-white hover:text-secondaryDark hover:-translate-y-0.5 transition-all;
}

.btn_hover {
  @apply hover:bg-brightYellow hover:-translate-y-0.5 transition-all hover:text-secondaryDark;
}

/* //////////CARD///////////// */
.card {
  @apply text-center p-4 pb-16 rounded-xl shadow-xl;
}

.cardhover {
  @apply hover:bg-lightDark hover:-translate-y-3 hover:shadow-2xl transition-all;
}

/* ////////////input field  ///////// */
.text-input {
  @apply h-10 rounded-lg border-none focus:ring-2 focus:ring-yellow;
}
